@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* css reset  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.block {
  display: block;
  margin-bottom: 1rem;
}

:root {
  --clr-primary-50: #f8fafc;
  --clr-primary-100: #f1f5f9;
  --clr-primary-200: #e2e8f0;
  --clr-primary-300: #cbd5e1;
  --clr-primary-400: #94a3b8;
  --clr-primary-500: #64748b;
  --clr-primary-600: #475569;
  --clr-primary-700: #334155;
  --clr-primary-800: #1e293b;
  --clr-primary-900: #0f172a;

  --clr-accent-green: #03A062;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  /* font-family: "Roboto", sans-serif; */
  background-color: var(--clr-primary-900);
  color: var(--clr-primary-100);
}

main {
  padding: 2rem;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.accent {
  color: var(--clr-accent-green);
}

/* images */
img {
  display: block;
  max-width: 100%;
}



/** links **/
.link {
  padding: 0.5rem 1rem;
  font-weight: 500;
  margin-top: 1rem;
}

.link-primary {
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  background-color: var(--clr-primary-50);
  color: var(--clr-primary-600);
  margin: 1rem auto;
  border-radius: 2rem;
}

.link-secondary {
  max-width: 140px;
  margin: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
  border: 1px solid var(--clr-primary-50);
}

.link-active {
  font-weight: bold;
  color: var(--clr-accent-green);
}

.link svg {
  fill: var(--clr-accent-green);
  margin: 1rem;
}

/* navigation */
nav {
  background-color: var(--clr-primary-600);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

nav ul {
  text-align: right;
}

.navigation__home {
  color: var(--clr-accent-green);
  font-size: 2rem;
}

/* header */
header img {
  width: 400px;
  margin: auto;
}

.greeting {
  display: inline-block;
  width: 125px;
  color: var(--clr-accent-green);
}

/* projects */
.project-wrapper {
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 1rem;
  border: 1px solid var(--clr-primary-50);
}

.project-wrapper:not(:last-child) {
  margin-bottom: 1rem;
}

.project-wrapper h2 {
  margin-bottom: 1rem;
}

.odd-bg {
  background-color: var(--clr-primary-700);
}

.scroll-up {
  display: none;
  position: fixed;
  border: none;
  background-color: var(--clr-primary-50);
  color: var(--clr-primary-700);
  padding: 1em;
  cursor: pointer;
  right: 30px;
  font-weight: 500;
  bottom: 150px;
  border-radius: .5em;
  font-family: inherit;
}

.date {
  text-decoration: underline;
}

.project-description {
  margin: 1rem;
}

/* social icons */
.social-icon {
  width: 32px;
  height: 32px;
}

/* list item inline */
.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* blogs */
.blog-wrapper {
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--clr-primary-600);
  margin: 1rem;
  padding-bottom: 2rem;
}

.welcome-msg {
  width: 35ch;
  margin: auto;
  border-bottom: 1px solid var(--clr-accent-green);
}

.section {
  border: 1px solid var(--clr-accent-green);
  margin-top: 1rem;
  padding: 2rem;
}

.section p {
  margin-bottom: 1rem;
}

/* footer */
footer {

  text-align: center;
  background-color: var(--clr-primary-600);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 1rem;
}